/* ------------------- Nav Bar Stylng -------------------------- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    height: 10vh;
    padding: 30px 25px;
}

.nav-title {
    margin-right: auto;
    font-weight: 700;
    font-size: 22px;
}

.nav-options {
    display: flex;
}

.nav-options > h3 {
    padding: 10px;
}